/************ Banner Css ************/
.banner {
    margin-top: 0;
    background-image: url('/assets/img/bg-mobile.jpeg');
    background-position:  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 1600px;
    // padding-bottom: 20rem;
    // width: auto;
    h1 {
        font-size: 65px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1;
        margin-bottom: 20px;
        display: block;
    };
    p {
        color: #B8B8B8;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        width: 96%;
    };
    img {
        padding: 100px 0 100px 0;
        // margin: 0 0 0 0;
        animation: updown 3s linear infinite;
    };
}
@media (min-width: 800px) {
    /* apply these styles for screens wider than 768px */
    .banner {
        background-image: url('/assets/img/banner-bg.png');
        padding: 260px 0 180px 0;
        height: 1000px;
        img {
            padding: 0 0 0 0;
            animation: updown 3s linear infinite;
        };
    }
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.wrap {
    color: #7f46db;
    word-wrap: break-word;
    width: 100%;
}
.cursor {
    display: inline-block;
    background-color: rgba(204, 204, 204, 0.849);
    margin-left: 0.1rem;
    width: 4px;
    height: 65px;
    animation: blink 1s infinite;
}
  