
/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    margin: 3%;
    position: relative;
    h2 {
        font-size: 45px;
        font-weight: 700;
    };
    p {
        color: #B8B8B8;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 14px 0 75px 0;
    };
}
.skillBx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-inline: 5%;
    margin-top: 60px;
}
.skillSlider {
    width: 100%;
}
.skillSlider .skillsItem img {
    width: 30%;
    margin: 0 auto 15px auto;
}
.backgroundImageLeft {
    top: 28%;
    height: 100%;
    position: fixed;
    bottom: 0;
    width: auto;
    z-index: -4;
}
.backgroundImageRight {
    top: 20%;
    position: fixed;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}
  
.backgroundImageCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    z-index: -4;
}


@media (min-width: 600px) {
    /* apply these styles for screens wider than 600px */
    .backgroundImageCenter {
        top: 0%;
        left: 0;
        position: fixed;
        height: auto;
        width: 100%;
        z-index: -4;
    }
  }
  
